.post {
  position: relative;
}

.postMessage {
  margin-bottom: 0;
}

.likes {
  font-size: 11px;
  color: #6475ab;
}

.likes p {
  margin-left: 25px;
  margin-top: 2px;
}

.likes::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../../../../img/like-icon.png');
  background-size: 20px;
  background-repeat: no-repeat;
  top: 20px;
}
